:root {
   /* variables de colores */
   --amarillo: #EAC926;
   --azul: #03264C;
   --Celeste: #1259c3;
   --Gris-oscuro: #666;
   --Gris-claro: #ebebeb;
   --Verde: #39b54a;
   /* fuentes */
   --fuente: 'Roboto', sans-serif;
   /* tamaños tipograficos */
   --parrafos: 12px;
   --titulos: 24px;
   --precio: 18px;
   --descuento: 16px;
   --descripcion: 16px;

}

 /* 
Titulares (Basado en tu última visita/Ofertas): 24px
 */
* {
   margin: 0;
   padding: 0;
}

a {
   color: black;
   text-decoration: none;
}

body {
   font-family: var(--fuente);
}

li {
   list-style: none;
}

header {
    background-color: var(--amarillo);
    padding-top: 25px;
}

header div.logo{
   width: 130px;
   margin-left: 25px;
}

header div.burger-menu {
  background-color: var(--Celeste);
  width: 35px;
  height: 35px;
  border-radius: 10%;


}

header div.burger-menu i {
  color: var(--Gris-claro);
}

main section h4{
   font-size: var(--titulos);
 }

main section article p#precio {
  font-size: var(--precio);
}

main section article p#descuento {
  font-size: var(--descuento);
}

main section article h5.descripcion {
  font-size: var(--descripcion);
}

footer article {
  text-align: center;
}

footer span {
  text-align: center;
}

